# Environments
/.venv
/.env
/.venv_windows
/.venv_windows3.10
# Python compiled files
*__pyc__*
# PyCharm files
/.idea
# Data files
/data
*.parquet

src/predictor/Models
src/NLP/cache
src/NLP/Models
src/predictor/*.png
src/predictor/loss_plots