jupyter
pandas
tqdm
scikit-learn
scipy
numpy
fastparquet
--extra-index-url https://download.pytorch.org/whl/cu117
torch
transformers
sentence-transformers
spacy
umap-learn
matplotlib
BERTopic
seaborn
xgboost
swifter
openpyxl
